<html>
  <head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  </head>

  <title>Admin Control Panel </title>
  <center>
  <b>Admin Control Panel</b><br>
  </center>

  <form method="post" action="admin/updateannouncement" class="pure-form">
    <legend>Update Global Announcement</legend>

    <input placeholder="Announcement" type="text" name="announcement" required>
    <button type="submit" class="pure-button pure-button-primary">Update</button>
  </form>

  <form method="post" action="admin/updatesafety" class="pure-form">
      <legend>Update Global Safety Item</legend>

      <input placeholder="Safety Item" type="text" name="safetyitem" required>
      <button type="submit" class="pure-button pure-button-primary">Update</button>
  </form>

  <form method="post" action="admin/updatekilldate" class="pure-form">
      <legend>Update Global Kill by Date</legend>

      <input placeholder="Kill by Date" type="text" name="killdate" required>
      <button type="submit" class="pure-button pure-button-primary">Update</button>
  </form>

  <form method="post" action="admin/roles" class="pure-form">
    <legend>Change Player Roles</legend>

    <input placeholder="ID" type="text" name="id" required>
    <label for="role">Role</label>
    <select id="role" name="role">{{range $type, $name := .RoleForms}}
      <option value="{{print $type}}">{{print $name}}</option>{{end}}
    </select>
    <input type="checkbox" name="remove" value="true">Remove<br>
    <input type="hidden" name="xsrf-token" value="{{.XSRFToken}}">
    <button type="submit" class="pure-button pure-button-primary">Add</button>
  </form>

  <form method="get" action="admin/banlogs" class="pure-form">
    <legend> Ban Logs </legend>
    <input placeholder="ID (optional)" type="text" name="id">
    <input type="checkbox" name="all" value="true">Fetch all bans<br>
    <input type="hidden" name="xsrf-token" value="{{.XSRFToken}}">
    <button type="submit" class="pure-button pure-button-primary">View</button>
  </form>
  
  <form method="get" action="admin/chatlogs" class="pure-form pure-form-aligned">
    <fieldset class="pure-control-group">
      <legend>Chat Logs</legend>
      
      <label for="id">Player's ID</label>
       <input placeholder="ID" type="text" name="id"><br>

      <input placeholder="Room" type="text" name="room">
      </fieldset>
    <fieldset class="pure-control-group">
      <label for="from">From</label>
      <input placeholder="From" type="date" name="from"><br>
      <label for="to">To</label>
      <input placeholder="To" type="date" name="to"><br>
      <label for="state">Order</label>
        <select id="order" name="order">
            <option>Descending</option>
            <option>Ascending</option>
        </select>
    </fieldset>
      <button type="submit" class="pure-button pure-button-primary">View</button>
  </form>

</html>
